<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>ApplicantFilter</filter-name>
  	<display-name>ApplicantFilter</display-name>
  	<description></description>
  	<filter-class>filters.ApplicantFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ApplicantFilter</filter-name>
  	<servlet-name>Register</servlet-name>
  </filter-mapping>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>control.Register</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>
